body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  padding: 50px;
}

nav {
  display: flex;
  background-color: black;
}

nav > * {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  padding: 1em;

}

nav > a:hover {
  color: white;
  background-color: navy;
}

a {
  color: #00B7FF;
}
